<div class="row marketing">
  <div class="col-lg-3 col-lg-offset-3">
    <h4>Desarrollado por</h4>
    <p>Ariel Pérez Chávez</p>
  </div>

  <div class="col-lg-3">
    <h4>Mail de Contacto</h4>
    <p>arielperezch@gmail.com</p>
  </div>
</div>

<%= javascript_include_tag "specifics/contact" %>