<div class="marketing">
  <div class="col-lg-6">
    <h4>Desarrollado por</h4>
    <p>Ariel Pérez Chávez</p>
  </div>

  <div class="col-lg-6">
    <h4>Mail de Contacto</h4>
    <p>arielperezch@gmail.com</p>
  </div>
</div>

<%= javascript_include_tag 'contact' %>