
      <h4>
        Categoría:
      </h4>
      <select class="form-control">
        <option value="tech">Tecnología</option>
      </select>
      <br/>

      <div class="panel panel-default">
        <div class="panel-body">
          <span class="badge badge-bull pull-right">13</span>
          <big>
            <a href="stocks/apple.html">Apple</a> outsells <a href="stocks/samsung.html">Samsung</a> in smartphone sales for first time since 2011.
          </big>
          <hr/>
          <em>
            "Strong interest in the iPhone 6 and iPhone 6 Plus helped Apple sell more smartphones than Samsung in the fourth quarter of 2014" <a href="http://t.co/kptXcWujb9">Ver más</a>
          </em>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="badge pull-right">1</span>
          <big>
            5 concerns that are holding <a href="stocks/google.html">Google</a> back.
          </big>
          <hr/>
          <em>
            "Google may lose ground in its search business (...)" - <a href="http://t.co/asf94vxCYH">Ver más</a>
          </em>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="badge badge-bear pull-right">1</span>
          <big>
            Ericsson Sues <a href="stocks/apple.html">Apple</a> Over Patent Licensing, Seeks To Block iPhone And iPadSales
          </big>
          <hr/>
          <em>
            "(...) claiming violation of 41 patents that apply to both the iPhone and iPad." - <a href="http://t.co/MVvRSekoEX">Ver más</a>
          </em>
        </div>
      </div>

<%= javascript_include_tag "specifics/home" %>