<div class="side-menu">
  <div class="block-text"><strong>Filtros</strong></div>
  <!-- Accordion -->
  <div class="list-group" id="accordion" role="tablist" aria-multiselectable="false">
    <a class="list-group-item collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h4 class="list-group-item-heading">
        Comentarios
      </h4>
      <p class="list-group-item-text">>>Cualquiera</p>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <!-- Opciones 2 <-->
      <a href="#" class="list-group-item active">
        <p class="list-group-item-text">>> Cualquiera</p>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> Positivos</p>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> Negativos</p>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> Neutros</p>
      </a>
    </div>
    <a class="list-group-item collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="list-group-item-heading">
        Valor Bursátil
      </h4>
      <p class="list-group-item-text">>>Cualquiera</p>
    </a>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <!-- Opciones 3 <-->
      <a href="#" class="list-group-item active">
        <p class="list-group-item-text">>> Cualquiera</p>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> Al alza</p>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> A la baja</p>
      </a>
    </div>
    <a class="list-group-item collapsed" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      <h4 class="list-group-item-heading">
        Desde
      </h4>
      <p class="list-group-item-text active">>>Hoy</p>
    </a>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <!-- Opciones 4 <-->
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> Hoy</p>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> Ayer</p>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> Hace una semana</p>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">>> Hace un mes</p>
      </a>
    </div>
  </div>
</div>