.badge-bull {
    background-color: #3c763d;
    color: #fff;
}

.badge-bear {
    background-color: #a94442;
    color: #fff;
}

.badge {
    vertical-align: middle;
}

.no-margin {
    margin: 0px;
}

#accordion .list-group-item-text {
    display: none;
}

#accordion .collapsed .list-group-item-text {
    display: inline;
}
#accordion .in .list-group-item-text {
    display: inline;
}
#accordion .collapsing .list-group-item-text {
    display: inline;
}